<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'report.title' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content></ion-content>