<ion-app>
  <ion-menu side="start" menuId="menu">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{hsEnv.app}}</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item>
          <ion-icon slot="start" name="pin"></ion-icon>
          {{ 'tabs.map' | translate }}
        </ion-item>
        <ion-item>
          <ion-icon name='help-buoy' slot="start"></ion-icon>
          {{ 'tabs.buoys' | translate }}
        </ion-item>
        <ion-item>
          <ion-icon name='eye' slot="start"></ion-icon>
          {{ 'tabs.webcams' | translate }}
        </ion-item>
        <ion-item>
          <ion-icon name='notifications' slot="start"></ion-icon>
          {{ 'tabs.reports' | translate }}
        </ion-item>
        <ion-item>
          <ion-icon name='warning' color="danger" slot="start"></ion-icon>
          {{ 'tabs.warning' | translate }}
        </ion-item>

        <ion-item-divider color="light">{{'configuration' | translate}}</ion-item-divider>
        <ion-item (tap)="openLogin()">
          <ion-icon name="person" slot="start"></ion-icon>
          {{ 'user.connection' | translate }}
          <ion-icon name="log-in" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-icon name="build" slot="start"></ion-icon>
          <p>{{ 'version' | translate }} {{hsEnv.version}} - {{hsEnv.lng}}</p>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="menu" main></ion-router-outlet>
</ion-app>