#map_canvas {
  width: 100%;
  height: 100%;
  border: 1px solid #4ab4e6;
  background-color: #FFF;
}

.hs-searchbar {
  height: 35px;
  padding: 0px 12px 0px 12px;
}

.hs-ion-segment {}

.hs-footer {
  height: 50px;
  z-index: 10000;
}

.hs-slides-day {
  height: 100%;
  background: var(--ion-color-primary, #FFF);
}

.hs-slide-day {}

.hs-item {
  width: 100%;
  --background: var(--ion-color-light, #FFF);
  text-align: center;

}