<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-searchbar class="hs-searchbar" debounce="500" placeholder="{{ 'map.search' | translate }}" searchIcon="search"
      showCancelButton="true" type="text" value=""></ion-searchbar>
  </ion-toolbar>
  <ion-segment class="hs-ion-segment" (ionChange)="updateMap()" color="primary">
    <ion-segment-button checked layout="icon-start">
      <ion-icon name="pin"></ion-icon>
      <ion-label>{{ currentArea.name}}</ion-label>
    </ion-segment-button>
    <ion-segment-button layout="icon-start">
      <ion-icon name="swap"></ion-icon>
      <ion-label>{{ 'map.change_zone' | translate}} </ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <div id="map_canvas">
  </div>
</ion-content>

<ion-footer class="hs-footer">
  <ion-toolbar>
    <ion-slides class="hs-slides-day" pager="false" [options]="slideOpts" #daysSlider (ionSlideDidChange)="onDayChanged()">
      <ion-slide class="hs-slide-day" *ngFor="let index of [0,1,2,3,4,5,6]">
        <ion-item class="hs-item">
          <ion-button fill="outline" slot="start" (click)="changeDay(-1)" color="primary" disabled="{{index == 0}}">
            <ion-icon name="arrow-back"></ion-icon>
            <span>{{ 'map.previous' | translate}}</span>
          </ion-button>
          <ion-label text-center> {{ currentDate | date: "EEE dd MMM" }}</ion-label>
          <ion-button fill="outline" slot="end" (click)="changeDay(1)" color="primary" disabled="{{index == 6}}">
            <span>{{ 'map.next' | translate}}</span>
            <ion-icon name="arrow-forward"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-slide>
    </ion-slides>
  </ion-toolbar>
</ion-footer>