<ion-tabs #myTabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="pin"></ion-icon>
      <ion-label>{{ 'tabs.map' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="help-buoy"></ion-icon>
      <ion-label>{{ 'tabs.buoys' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>{{ 'tabs.reports' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="eye"></ion-icon>
      <ion-label>{{ 'tabs.webcams' | translate }}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5">
      <ion-icon name="person"></ion-icon>
      <ion-label>{{ 'tabs.profil' | translate }}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>